# MySQL config
# See http://www.tocker.ca/2013/09/17/what-to-tune-in-mysql-56-after-installation.html

[mysqld]
max_allowed_packet = 64M

# No need to define, log errors to stdout by default.
# log_error = /var/log/mysql/error.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/log-slow-queries.log

# Should be 50-80% of RAM.
innodb_buffer_pool_size = 512M

